<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.bigdata.zhgx.function.system.dao.AuthPasswordEntityMapper">

  <!--批量删除该用户对应的密码表的记录-->
  <delete id="deletePasswordByUserId">
    delete from auth_password
    WHERE
    user_id
    IN
    <foreach collection ="users" item="user" open="(" separator="," close=")">
      (#{user.userId})
    </foreach>
  </delete>
</mapper>