<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.bigdata.zhgx.function.system.dao.MenuEntityMapper">
  <resultMap id="BaseResultMap" type="com.h3c.bigdata.zhgx.function.system.entity.MenuEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_name_en" jdbcType="VARCHAR" property="menuNameEn" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="icon_cls" jdbcType="VARCHAR" property="iconCls" />
    <result column="icon_col" jdbcType="VARCHAR" property="iconCol" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="menu_level" jdbcType="VARCHAR" property="menuLevel" />
    <result column="parent_menu_code" jdbcType="VARCHAR" property="parentMenuCode" />
    <result column="is_menu" jdbcType="VARCHAR" property="isMenu" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="reserve_str1" jdbcType="VARCHAR" property="reserveStr1" />
    <result column="reserve_str2" jdbcType="VARCHAR" property="reserveStr2" />
    <result column="reserve_str3" jdbcType="VARCHAR" property="reserveStr3" />
  </resultMap>


  <select id="queryMenuByRoleId" parameterType="String" resultMap="BaseResultMap">
      select tsm.* from tb_s_menu tsm
        where tsm.menu_code IN (
          select  tsrr.right_code from  td_s_role_right tsrr
            where tsrr.role_code = #{roleCode}
        )
  </select>

  <select id="queryMenuInfoByRoleId" resultMap="BaseResultMap">
    select * from (select tsm.* from tb_s_menu tsm
    where tsm.menu_code IN (
      select  tsrr.right_code from  td_s_role_right tsrr
      where (tsrr.role_code in (select right_code from td_s_staff_right
      where
        tsrr.right_type = "M"
        <if test="query.reserveStr2 != null and query.reserveStr2 != ''">
          and staff_id = #{query.reserveStr2}))
        </if>
        ) and tsm.reserve_str1 != '1') as menu_tmp where
        1 = 1
      <if test="query.parentMenuCode != null and query.parentMenuCode != ''">
        and menu_tmp.parent_menu_code = #{query.parentMenuCode}
      </if>
  </select>

</mapper>