<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.bigdata.zhgx.function.system.dao.RoleWithRoleMenuBeanMapper">
    <resultMap id="BaseResultMap" type="com.h3c.bigdata.zhgx.function.system.model.RoleWithRoleMenuBean">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="status" jdbcType="CHAR" property="status" />
        <result column="role_detail" jdbcType="VARCHAR" property="roleDetail" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="role_key" jdbcType="VARCHAR" property="roleKey" />
        <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
        <result column="role_value" jdbcType="VARCHAR" property="roleValue" />
        <result column="level" jdbcType="VARCHAR" property="roleLevel" />
        <collection property="menuData" column="{roleId=id}" javaType="ArrayList"
                    ofType="com.h3c.bigdata.zhgx.function.system.model.RoleWithMenuListBean"
                    select="com.h3c.bigdata.zhgx.function.system.dao.RoleWithMenuListBeanMapper.queryMenuListByRoleId" />
    </resultMap>

    <select id="queryMenuListByRoleId" resultMap="BaseResultMap">
        SELECT
            a.id,
            a.role_code,
            a.role_name,
            a.role_detail,
            a.status,
            a.create_time,
            a.update_time,
            a.role_key,
            a.department_id,
            a.level,
            b.role_value
        FROM
            auth_role_info a ,auth_role_type b
        where 1=1 and a.role_key = b.role_key
        <if test="id != null and id != ''">
            and a.id=#{id}
        </if>
        <if test="roleName != null and roleName !=''">
            and a.role_name like CONCAT('%',#{roleName},'%')
        </if>
    </select>

    <select id="queryMenuListByRoleIds" resultMap="BaseResultMap">
        SELECT
        a.id,
        a.role_code,
        a.role_name,
        a.role_detail,
        a.status,
        a.create_time,
        a.update_time,
        a.role_key,
        a.department_id,
        b.role_value
        FROM
        auth_role_info a ,auth_role_type b
        where 1=1 and a.role_key = b.role_key

            and a.id in
            <foreach item="item" collection="roleIds" open="(" separator="," close=")">
                #{item}
            </foreach>

    </select>
</mapper>