<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  action="http://192.168.76.210:8084/se/application/savePhotoWithParam" method="post" enctype="multipart/form-data">
    <input type="text" name="appName" value="12345">
    <!--<input type="text" name="applicationType" value="12345">
    <input type="text" name="applicationUrl" value="12345">
    <input type="text" name="contactEmail" value="12345">
    <input type="text" name="contactPhone" value="12345">-->
    <input type="file" name="file">
    <input type="submit" value="提交">
</form >
</body>
</html>
