<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.bigdata.zhgx.function.report.dao.TempToDptMapper">

  <!--根据模板id获取对应的部门列表-->
  <select id="getDptNameByTemplateId"
          resultType="java.lang.String">
	select d.department_name
	from auth_department_info d, sys_temp_dpt dpt
	 where d.id = dpt.department_id and dpt.template_id=#{id}

  </select>
</mapper>